:root {
    --swiper-theme-color: #fea116;

}

.buttonlg {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #fea116, #d8f74c);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
   }
   
   .buttonlg:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }
.bg-login{
    background-image: url(https://img6.thuthuatphanmem.vn/uploads/2022/03/16/background-mon-an-dep_024946591.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;

}
.bg-forgot{
    background-image: url(https://png.pngtree.com/background/20230413/original/pngtree-food-gourmet-border-picture-image_2423214.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;

}
.card1{
    
    background-color: rgba(247, 207, 138, 0.398);

}
.card2{
    
    background-color: rgba(255, 238, 182, 0.63);

}
.swiper-button {
    color: var(--swiper-theme-color);
}